@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #0F0E0E;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #541212;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacao-texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.sara-img {
    border: 2px solid var(--cor-terciaria);
    border-radius: 6px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    gap: 20px;
}

.apresentacao__conteudo__texto {
    list-style: none;
    font-family: var(--fonte-primaria);
    gap: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.links-subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.links-link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    padding: 21.5px 0px;
    text-decoration: none;
    color: white;
}

.links-link:hover {
    background-color: var(--cor-hover);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding:  24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}

